<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://egitimplatformu20170718014738.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>egitimplatformu20170718014738.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EgitimPlatformu20170718014738</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EgitimPlatformu20170718014738</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="melihcelenkmainEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;Application Name=EntityFramework" Name="Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EgitimPlatformu.Models.melihcelenkmainEntities, EgitimPlatformu" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;Application Name=EntityFramework" Name="Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EgitimPlatformu.Models.ApplicationDbContext, EgitimPlatformu" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EPEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;Application Name=EntityFramework" Name="Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BURCIN-HARAPOGL\SQLEXPRESS;Initial Catalog=EgitimPlatformu;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.EPModel.csdl|res://*/Models.EPModel.ssdl|res://*/Models.EPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BURCIN-HARAPOGL\SQLEXPRESS;initial catalog=EgitimPlatformu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EPModel.csdl|res://*/Models.EPModel.ssdl|res://*/Models.EPModel.msl;provider=System.Data.SqlClient;provider connection string="data source=mainservermc.database.windows.net;initial catalog=melihcelenkmain;persist security info=True;user id=melihcelenk;password=WebProgramlama123;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)melihcelenkmainEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EgitimModel.csdl|res://*/Models.EgitimModel.ssdl|res://*/Models.EgitimModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mainservermc.database.windows.net;Initial Catalog=melihcelenkmain;Persist Security Info=True;User ID=melihcelenk;Password=WebProgramlama123;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>